body  {
    background-color: pink;
    background: url(stars.jpg) no-repeat top center;
    margin: 0;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 400;
    justify-content: center;
}

.container {
    width: 100%;
    margin: 0 auto;
}

header  {
   color: white;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

h1 {
    float: left;
    padding: 10px 0;
}

nav  {
    text-align: right;
    padding-right: 15px;
    padding-top: 20px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
    position: relative;
}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover {
    color: rgb(141, 71, 255);
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: rgb(233, 217, 255);
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

.container2 {
    font-family: 'Bellefair', serif;
    width: 100%;
    height: 500px;
    background-color: rgb(233, 217, 255);
    float: right;
    top: 60px;
    position: relative;
}

.container2 #photo {
    position: relative;
    top: 25px;
    left: 30px;
}

#amparagraph {
    font-family: 'Bellefair', serif;
    text-align: center;
    border: solid rgb(70, 65, 70);
    background: white;
    height: 300px;
    width: 50%;
    position: relative;
    float: right;
    font-size: 22px;
    right: 20px;
    bottom: 400px;
}

#amparagraph p {
    position: relative;
    top:30px;
    line-height: 1.5em;
}


@media screen and (max-width: 500px) {
    
    .sectioncontainer2 {
       width: 100%;
       height: 100%;
    }

    #amparagraph {
        font-size: 12px;
    }

}