body  {
    background-color: pink;
    background: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/4hErJtsClimm6r482/slow-motion-serene-deep-space-galaxy-and-stars-background-black-and-white-4k_r77tk52fx_thumbnail-full15.png") repeat-y;
    margin: 0;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 400;
    justify-content: center;
}

.container {
    width: 100%;
    margin: 0 auto;
}

header p {
    position: relative;
    font-size: 10px;
    top:50px;
}

header h1 {
    position: relative;
    font-size: 50px;
    margin-top:10px;
    left: -110px;
}

header  {
    height: 100px;
   color: white;
   background-color: rgba(0,0,0,0.8);
   font-family: 'Julius Sans One', sans-serif;
}

header ul {
    position: relative;
    left: 419px;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

header h1 {
    float: left;
    padding: 10px 0;
}

nav  {
    text-align: right;
    padding-right: 15px;
    padding-top: 20px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
    position: relative;
}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover {
    color: rgb(141, 71, 255);
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: rgb(233, 217, 255);
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

/*----------------------------*/

.container2 {
    font-family: 'Bellefair', serif;
    width: 90%;
    height: 500px;
    background-color: rgb(70, 65, 70);
    top: 10px;
    position: relative;
    align-content: center;
    left: 10%;
}

.container2 #photo {
    position: relative;
    margin-top: 50px;
    left: 30px;
    width: 400px;
    height: 400px;
}

#amparagraph {
    font-family: 'Bellefair', serif;
    text-align: center;
    border: solid rgb(70, 65, 70);
    background: white;
    height: 300px;
    width: 60%;
    position: relative;
    float: right;
    font-size: 22px;
    bottom: 360px;
}

#amparagraph p {
    position: relative;
    top:30px;
    line-height: 1.5em;
}

/*---------------*/


h3  {
    font-family: 'Julius Sans One', sans-serif;
    text-align: center;
    position: relative;
    top: 8px;
}

#article  {
    position: relative;
    top:75px;
    border-style: groove;
    background-color: rgb(37, 29, 39);
    float: left;
    height: 300px;
    width:50%;
    font-family: 'Bellefair', serif;
}

#coverlettercontainer  {
    text-align: center;
    border: solid rgb(70, 65, 70);
    background: white;
    height: 190px;
    position: relative;
    width:40%;
    margin: auto;
}

#coverlettercontainer p {
    font-size: 21px;
}

h2  {
    padding: 10px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif, Georgia, 'Times New Roman', Times, serif;
}

h4  {
    font-family: auto;
    font-size: 24px;
    padding-left: 455px;
    color: black;
}

/*---------------------*/

.linkscontainer {
    background-color: rgb(37, 29, 39);
    color: white;
    width: 60%;
}

.linkscontainer img {
    width: 100px;
    height:100px;
}


@media screen and (max-width: 500px) {
    
    .sectioncontainer2 {
       width: 100%;
       height: 100%;
    }

    #amparagraph {
        font-size: 12px;
    }

}