body  {
    background-color: rgb(233, 217, 255);
    background: url(stars.jpg) no-repeat top center;
    width: 100%;
    margin: 0 auto;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 400;
    justify-content: center;
}

header  {
    color: white;
    font-family: 'Julius Sans One', sans-serif;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

h1 {
    float: left;
    padding: 10px 0;
    font-family: 'Julius Sans One', sans-serif;
}

nav  {
    text-align: right;
    padding-right: 15px;
    padding-top: 20px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
    position: relative;
}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover {
    color: rgb(141, 71, 255);
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: rgb(233, 217, 255);
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

.sectioncontainer3 {
    position: relative;
    top: 30px;
    left: 30%;
    color: white;
    text-align: center;
    border: solid rgb(233, 217, 255);
    background: transparent;
    height: 550px;
    width: 40%;
    justify-content: center;
    font-size: 22px;
}

.input-feilds {
    position: relative;
    top: 6px;
    padding: 0 30px;
}

.input-feilds .items {
    width: 100%;
    padding-bottom: 15px;
}

.input-feilds .items .label {
    display: block;
    font-size: 1em;
    color: white;
    text-orientation: capitalize;
    padding-bottom: 5px;
}

.input-feilds .items .input,
.input-feilds .items .text-area {
    border: 0;
    border: 1px solid rgb(233, 217, 255);
    width: 100%;
    font-size: 1em;
    color: white;
    border-radius: 3px;
}

.btn {
    position: relative;
    margin: 0 30px;
    background: rgb(233, 217, 255);
    color: white;
    font-size:  1.25em;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 2px;
    width: 40%;
    left: 25%;
}

.items #message {
    height: 200px;
    width: 100%;
}

@media screen and (max-width: 320px) { 

    .sectioncontainer3 {
        width: 100px;

    }
    

}