body  {
    background-color: pink;
    background: url(stars.jpg) no-repeat top center;
    margin: 0;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 400;
    justify-content: center;
}

.container {
    width: 100%;
    margin: 0 auto;
}

header  {
   color: white;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

h1 {
    float: left;
    padding: 10px 0;
}

nav  {
    text-align: right;
    padding-right: 15px;
    padding-top: 20px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
    position: relative;
}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover {
    color: plum;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: pink;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

.sectioncontainer  {
    background: black;
    border: solid lavender;
    position: relative;
    margin-top: 100px;
    float: left;
    height: 350px;
    width: 100%;
}

h3  {
    color: white;
    text-align: center;
    position: relative;
    top: -10px;
    font-family: auto;
}

#article  {
    background: navy;
    float: left;
    height: 175px;
    width: 100%;
    border: darkslategrey;
}

#pcontainer  {
    text-align: center;
    border: solid rgb(182, 33, 90);;
    background: white;
    height: 50px;
    width: 95%;
    position: relative;
    bottom: 20px;
    margin: auto;
}

#hcontainer  {
    text-align: center;
    border: solid rgb(182, 33, 90);
    background: white;
    height: 50px;
    width: 95%;
    position: relative;
    top: -20px;
    margin: 0 auto;
}

h2  {
    padding: 10px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif, Georgia, 'Times New Roman', Times, serif;
}


.aside  {
    background: white;
    text-align: center;
    border: solid royalblue;
    margin-top: 150px;
    margin-right: 277px;
    float: right;
    width: 100%;
    height: 350px;
    font-family: 'Montserrat', sans-serif, Georgia, 'Times New Roman', Times, serif;
}


h4  {
    font-family: auto;
    font-size: 24px;
    padding-left: 455px;
    color: black;
}

.footer  {
    position: relative;
    left: -10px;
    background: white;
    bottom: -550px;
    margin: 0 auto;
    border: solid royalblue;
    height: 100px;
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 400px) {

    .sectioncontainer {
        width: 100%;
    }

    #pcontainer {
        width: 100%;
    }

    #hcontainer {
        width: 100%;
    }

    .aside {
        width: 100%;
    }

    .footer {
        width: 100%;
    }


}


