body  {
    background-color: black;
    background: url(million.jpg) repeat-y top center;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif, Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
}

header  {
    color: white;
    font-family: 'Montserrat', sans-serif, Georgia, 'Times New Roman', Times, serif;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

h1 {
    float: left;
    padding: 10px 0;
    font-family: 'Montserrat', sans-serif, Georgia, 'Times New Roman', Times, serif;
}

nav  {
    text-align: right;
    padding-right: 15px;
    padding-top: 20px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
    position: relative;
}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover {
    color: plum;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: pink;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

.containerb {
    width: 1400px;
    min-height: 600px;
    background: black;
    margin: 70px auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 200px;
    padding-bottom: 200px;
}

.containerb .box {
    position: relative;
    width: 550px;
    height: 550px;
    background: rgb(46, 25, 27);
    margin: 74px;
    box-sizing: border-box;
    display: inline-block;
    padding: 80px;
}

.containerb .box .picbox
{
    position: relative;
    overflow: hidden;
}

.containerb .box .picbox img
{
    width: 100%;
    transition: ease-in-out 1s;
    counter-increment: inherit;
}

.containerb .box:hover .picbox img
{
transform: scale(1.2)
}
