html {
    height: 4800px;
    background: linear-gradient(55deg, #050505 0%, #000000 51%, #a13408 85%);
}

body  {
    background-color: rgb(0, 0, 0) !important;
    background-position: center;
    background-repeat: no-repeat;
    height: 800px;
}


/*----------------------*/

.headercontainer {
    background-color: rgba(138, 135, 135, 0);
    position: fixed;
    top: 30px;
    right: 100px;
    height: 70px;
    width: 100%;
}

.headercontainer i {
    border-collapse: collapse;
    position:relative;
    padding-top: 20px;
    left: 80%;
    height: 60px;
    width: 60px;
    background-color: rgba(0,0,0,0);
    color: rgb(129, 129, 129);
}

/*----------------------*/

.intro-container {
    position: absolute;
    top: 180px;
    width: 100%;
    height: 420px;
    padding: 40px;
    background-color: rgba(0,0,0,0);
    text-align: center;
    line-height: 2em;
}


.intro-container p {
    position: relative;
    top: 80px;
    color: white;
    font-size: 20px;
    width: 45%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Quicksand', sans-serif;
}

.intro-container img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
}


/*----------------------*/

.contentcontainer {
    background-image: linear-gradient(to right, rgba(255, 255, 255) , rgb(218, 214, 214));
    padding: 20px;
    -webkit-box-shadow: 3px 3px 5px 6px rgb(0, 0, 0, 0.5);
    -moz-box-shadow:    3px 3px 5px 6px rgb(0, 0, 0, 0.5); 
    box-shadow:         3px 3px 5px 6px rgb(0, 0, 0, 0.5);
    height: 3500px;
    width: 95%;
    position: absolute;
    left: 2.5%;
    top: 880px;
    vertical-align: middle;
    border-radius: 10px;
    font-family: 'Quicksand', sans-serif;
}

/*----------------------*/

.logocontainer {
    position: relative;
    top: 160px;
}

.logocontainer img {
    position: relative;
    top: -140px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    overflow: auto;
}

.logocontainer h2 {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    padding: 20px;
    color: rgb(129, 129, 129);
}

/*----------------------*/


.linkscontainer {
    background-color: rgb(37, 29, 39);
    color: rgb(143, 143, 143);
    width: 50%;
}

.linkscontainer img {
    width: 100px;
    height: 100px;
}

/*------------*/

#skills {
    position: relative;
    top: 100px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#skills img {
    position: relative;
    top: 30px;
    margin: 20px;
    height: 100px;
    width: 100px;
}

#skills h1 {
    margin-bottom: 20px;
}

/*---------*/

#work {
    position: relative;
    top: 360px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: inline;
}

#work h1 {
    margin-bottom: 50px;
}

#work p {
    color: grey;
}





/*-------------*/

#amazon {
    width: 20%;
    display: inline-block;
    margin-right: 50px;
    margin-left: 50px;
}

#amazon img {
    width: 80px;
    height: 50px;
    margin-bottom: 25px;
}

#amazon h4 {
    font-size: 15px;
    margin-bottom: 30px;
    margin-top: 20px;
}

/*----------*/

#captel {
    width: 20%;
    display: inline-block;
    margin-right: 50px;
    margin-left: 50px;
}

#captel img {
    width: 60px;
    height: 30px;
    margin: 20px;
}

#captel h4 {
    font-size: 15px;
}

/*----------*/

#papaj {
    width: 20%;
    display: inline-block;
    margin-right: 50px;
    margin-left: 50px;
}

#papaj img {
    width: 80px;
    height: 80px;
}

#papaj h4 {
    font-size: 15px;
}

/*------------------*/

#education {
    position: relative;
    top: 580px;
    width: 100%;
    margin-left: 400px;
    margin-right: 400px;
    text-align: center;
    display: inline;
}

#education h1 {
    margin-bottom: 50px;
}

#education p {
    color: grey;
}

#education a {
    color: grey;
}




#ucf {
    width: 30%;
    display: inline-block;
    margin-right: 50px;
    margin-left: 50px;
}

#ucf img {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}

#ucf h4 {
    font-size: 15px;
}

/*------------------------------------*/

#projects {
    position: relative;
    top: 800px;
    width: 100%;
    margin-left: 400px;
    margin-right: 400px;
    text-align: center;
    display: inline;
}

#projects h1 {
    margin-bottom: 100px;
}

#projects p {
    color: grey;
}

#projects img {
    position: relative;
    border-radius: 20px;
    width: 140px;
    height: 70px;
    background: white;
    margin-bottom: 20px;
}

#projects h4 {
    font-size: 15px;
}

#projects a {
    color: rgb(165, 165, 165);
}

/*----------------*/

#drinkdine {
    width: 30%;
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 100px;
}

/*--------------------------*/

#trivia {
    width: 30%;
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 100px;
}

/*---------------------------*/

#kitty {
    width: 30%;
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 100px;
}

/*------------------------------*/

#psychic {
    width: 30%;
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 100px;
}

/*-----------------------------*/

#train {
    width: 30%;
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 100px;
}

/*-----------------------*/

#react-search {
    width: 30%;
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 100px;
}

/*-------------------*/

#friendfinder {
    width: 30%;
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 100px;
}  

/*--------------------------*/

#burger {
    width: 30%;
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 100px;
}

/*--------------------------*/

#clicky {
    width: 30%;
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 100px;
}

/*--------------------*/



#contact {
    position: relative;
    top: 980px;
    width: 100%;
    margin-left: 400px;
    margin-right: 400px;
    text-align: center; 
}

#contact h1 {
    margin-bottom: 20px;
}

#contact p {
    color: rgb(56, 56, 56);
}

/*--------------------------------*/

@media only screen and (max-width: 700px) {

    body {
        width: 100%;
    }

    html {
        width: 100%;
    }

    #contentcontainer {
        margin: 0;
    }

    .intro-container p {
        position: relative;
        top: 300px;
        height: 200px;
        width: 100%;
        font-size: 20px;
    }

    #skills img {
        height: 60px;
        width: 60px;
    }

    #work {
        margin: 0;
    }

    #education {
        margin: 0; 
    }

    #projects {
        margin: 0;
    }
};