body  {
    background-color: pink;
    background: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/IjFi-wx/moving-stars-in-night-sky_v1wppg27__F0000.png") no-repeat top center;
    margin: 0;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 400;
    justify-content: center;
}

.container {
    font-family: 'Julius Sans One', sans-serif;
}

.container img {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
}

/*----------------------*/

header h1 {
    position: relative;
    font-size: 50px;
    margin-top:10px;
    left: -110px;
}

header  {
    height: 100px;
   color: white;
   background-color: rgba(0,0,0,0.8);
   font-family: 'Julius Sans One', sans-serif;
}

header ul {
    position: relative;
    left: 300px;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

header h1 {
    float: left;
    padding: 10px 0;
}

nav  {
    text-align: right;
    padding-right: 15px;
    padding-top: 20px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
    position: relative;
}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover {
    color: rgb(255, 238, 83);
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: rgb(233, 217, 255);
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}
/*--------------------*/

.mooncontainer img {
    position: relative;
    justify-content: center;
    z-index: auto;
    height:650px;
    width:650px;
    left: 40px;
    top:10px;
}

.linkscontainer {
    background-color: rgb(37, 29, 39);
    color: white;
    width: 50%;
}

.linkscontainer img {
    width: 100px;
    height:100px;
}

@media screen and (max-width: 400px) {

    .sectioncontainer {
        width: 100%;
    }

    #pcontainer {
        width: 100%;
    }

    #hcontainer {
        width: 100%;
    }

    .aside {
        width: 100%;
    }

    .footer {
        width: 100%;
    }


}


